%h1 Registered Guests

.row
  .col-md-4
    = form_tag admin_search_path, method: :get, class: 'mb-3 form-inline' do
      .form-group
        = label_tag :search, 'Guest search:'
        = text_field_tag :search, params[:search], placeholder: 'Search',
        autofocus: true, autocomplete: 'off', class: 'form-control ml-3 mr-3'
      .form-group
        = submit_tag 'Search', class: 'btn btn-primary'

.d-inline-block
  = button_to 'Logout', admin_logout_path, method: :get, class: 'btn btn-secondary'
.d-inline-block
  = button_to 'Clear filters', admin_path, method: :get, class: 'btn btn-secondary'

= bootstrap_form_tag url: admin_update_guests_path, remote: true do |f|

  = f.submit 'Invite Selected', class: 'btn btn-success mt-3', data: { disable_with: 'Inviting...' }
  - all = @guests.size
  - invited = @guests.where(invited: true).size
  - remaining = all - invited

  %span.d-block.text-right.text-secondary= "Displaying  guests: Total: (#{all}) - Invited: (#{invited}) - Remaining: (#{remaining})"

  %table.table.table-hover.table-bordered.text-center.mt-3
    %thead
      %tr
        %th= check_box_tag :select_all
        %th= admin_filter('first_name')
        %th= admin_filter('last_name')
        %th= admin_filter('father_surname')
        %th= admin_filter('mother_surname')
        %th= admin_filter('email')
        %th= admin_filter('phone')
        %th= admin_filter('invited')
        %th Remove
    %tbody
    - @guests.each do |guest|
      %tr
        %td= check_box_tag 'guest_ids[]', guest.id
        %td= guest.first_name
        %td= guest.last_name
        %td= guest.father_surname
        %td= guest.mother_surname
        %td= guest.email
        %td= guest.phone
        %td= guest_invite_status(guest)
        %td= guest_remove_link(guest)

= bootstrap_form_tag url: admin_update_guests_path do |f|
  = f.submit 'Invite Selected', class: 'btn btn-success mb-3'

