<!DOCTYPE html>
<html>
  <head>
    <title>Weddings</title>
    <%= csrf_meta_tags %>

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body class="<%= current_admin_path? ? 'admin' : ''%>">
    <header>
      <div class="container flash-container">
        <% if flash.any? %>
          <% flash.each do |type, message| %>
            <div class="alert alert-<%= type %> alert-dismissible fade show">
              <%= message %>
              <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
              </button>
            </div>
          <% end %>
        <% end %>
        </div>
    </header>
    <main>
      <div class="wrapper">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
